<!DOCTYPE>
<html lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<script type="text/javascript" src="./resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./resources/js/materialize.js"></script>
<script type="text/javascript" src="./resources/js/jquery.mask.js"></script>

<link rel="stylesheet" type="text/css" href="./resources/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="./resources/css/custom.css" />
<link rel="shortcut icon" href="./resources/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="./resources/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<title>Livraria-SpringAngular</title>
</head>
<body>
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="livro/cadastrar.html">Cadastrar</a></li>
		<li><a href="livro/consultar.html"> Pesquisar </a></li>
	</ul>
	<ul id="dropdown2" class="dropdown-content">
		<li><a href="cliente/cadastrar.html">Cadastrar</a></li>
		<li><a href="cliente/consultar.html"> Pesquisar </a></li>
	</ul>
	<nav>
		<div class="nav-wrapper">
			<ul class="hide-on-med-and-down">
				<li><a href="index.html">Início</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">
						Livro<i class="material-icons right">arrow_drop_down</i>
					</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown2">
						Cliente<i class="material-icons right">arrow_drop_down</i>
					</a></li>
			</ul>

		</div>
	</nav>

	<main>
	<form>
		<div class="container">
			<div class="row center-align">
				<h3>Livraria-SpringAngular</h3>
			</div>
			<div class="row center-align">
				<h4>Spring MVC e AngularJS</h4>
			</div>

		</div>
	</form>
	</main>
	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				Desenvolvido por Felipe de Sousa Santos © 2016 - Todos os Direitos Reservados
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/felipesousasantos1993">
					GitHub <img alt="Github" src="./resources/img/github.png" class="img-social" width="21" height="21" />
				</a>
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://br.linkedin.com/in/felipesousa">
					LinkedIn <img alt="Linkeind" src="./resources/img/linkedin.png" class="img-social" width="21" height="21" />
				</a>

			</div>
		</div>
	</footer>
	<script type="text/javascript" src="./resources/js/custom.js"></script>
</body>
</html>
