@CHARSET "ISO-8859-1";

.error-msg {
	color: #F44336;
	opacity: 1;
	display: block;
	content: "";
	position: absolute;
	top: 50px;
	opacity: 1;
	font-size: 11px;
	transition: .2s opacity ease-out, .2s color ease-out;
}

.img-social {
	margin-right: 10px;
	position: relative;
	top: 4px;
	margin-left: 2px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}