<!DOCTYPE>
<html lang="pt-BR" ng-app="cadastrarControllerApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="Content-Language" content="pt-BR">
<title>Cadastrar Livro</title>

<script type="text/javascript" src="../resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../resources/js/materialize.js"></script>
<script type="text/javascript" src="../resources/js/jquery.mask.js"></script>

<script type="text/javascript" src="../resources/js/angular.min.js"></script>
<script type="text/javascript" src="../resources/js/angular-messages.min.js"></script>
<script type="text/javascript" src="../resources/js/livro/cadastrarLivroController.js"></script>

<link rel="stylesheet" type="text/css" href="../resources/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/custom.css" />
<link rel="shortcut icon" href="../resources/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../resources/img/favicon.ico" type="image/x-icon" />
</head>

<body>
	<main>
	<form id="form" name="form" ng-controller="cadastrarController" required>
		<div class="container">

			<h4>Novo Livro</h4>

			<div class="row">
				<div class="col s12 input-field">
					<label for="deTitulo">Título</label>
					<input type="text" id="deTitulo" name="deTitulo" ng-model="deTitulo" class="validate" ng-focus="updateForm()" ng-minlength="5"
						ng-maxlength="150" required />
					<div ng-messages="form.deTitulo.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.deTitulo.$error.required && submited">Campo obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.deTitulo.$error.minlength">Tamanho minímo é de 5 caracteres</div>
						<div ng-message="maxlength" class="error-msg" ng-show="form.deTitulo.$error.maxlength">Tamanho máximo é de 150 caracteres</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s7 input-field">
					<label for="deAutor">Autor</label>
					<input type="text" id="deAutor" name="deAutor" ng-model="deAutor" ng-minlength="5" ng-maxlength="150" required ng-focus="updateForm()" />
					<div ng-messages="form.deAutor.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.deAutor.$error.required && submited">Campo obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.deAutor.$error.minlength">Tamanho minímo é de 5 caracteres</div>
						<div ng-message="maxlength" class="error-msg" ng-show="form.deAutor.$error.maxlength">Tamanho máximo é de 150 caracteres</div>
					</div>
				</div>
				<div class="col s2 input-field">
					<label for="aaPublicacao">Ano Publicação</label>
					<input type="text" id="aaPublicacao" name="aaPublicacao" ng-model="aaPublicacao" class="validate ano" ng-minlength="4" required
						ng-focus="updateForm()" />
					<div ng-messages="form.aaPublicacao.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.aaPublicacao.$error.required && submited">Campo obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.aaPublicacao.$error.minlength">Tamanho minímo é de 4 caracteres</div>
					</div>
				</div>
				<div class="row">
					<div class="col s3 input-field">
						<label for="deEdicao">Edição</label>
						<input type="text" id="deEdicao" name="deEdicao" ng-model="deEdicao" ng-maxlength="50" />
						<div ng-messages="form.deEdicao.$error" style="color: maroon" role="alert">
							<div ng-message="maxlength" class="error-msg" ng-show="form.deEdicao.$error.maxlength">Tamanho máximo é de 50 caracteres</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s7 input-field">
					<label for="deEditora">Editora</label>
					<input type="text" id="deEditora" name="deEditora" ng-model="deEditora" class="validate" ng-minlength="5" ng-maxlength="50" required
						ng-focus="updateForm()" />
					<div ng-messages="form.deEditora.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.deEditora.$error.required && submited">Campo obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.deEditora.$error.minlength">Tamanho minímo é de 5 caracteres</div>
						<div ng-message="maxlength" class="error-msg" ng-show="form.deEditora.$error.maxlength">Tamanho máximo é de 50 caracteres</div>
					</div>
				</div>

				<div class="col s5 input-field">
					<input type="checkbox" id="ativo" name="ativo" ng-model="ativo" />
					<label for="ativo">Ativo</label>
				</div> 
			</div>
			<div class="row right-align">
				<a href="../" class="btn waves-effect waves-light ">Voltar</a>
				<a class="waves-effect waves-light btn blue" ng-click="salvarLivro()"> Salvar</a>
			</div>
		</div>
		<script type="text/javascript" src="../resources/js/custom.js"></script>
	</form>
	</main>

	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				Desenvolvido por Felipe de Sousa Santos © 2016 - Todos os Direitos Reservados
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/felipesousasantos1993">GitHub</a>
			</div>
		</div>
	</footer>

</body>
</html>