<!DOCTYPE>
<html lang="pt-BR" ng-app="editarLivroControllerApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Editar Livro</title>


<script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/materialize.js"></script>
<script type="text/javascript" src="../../resources/js/jquery.mask.js"></script>

<script type="text/javascript" src="../../resources/js/angular.min.js"></script>
<script type="text/javascript" src="../../resources/js/angular-messages.min.js"></script>
<script type="text/javascript" src="../../resources/js/livro/editarLivroController.js"></script>

<link rel="stylesheet" type="text/css" href="../../resources/css/materialize.css" />
<link rel="stylesheet" type="text/css" href="../../resources/css/custom.css" />
<link rel="shortcut icon" href="../resources/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../resources/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="../cadastrar.html">Cadastrar</a></li>
		<li><a href="../consultar.html"> Pesquisar </a></li>
	</ul>
	<nav>
		<div class="nav-wrapper">
			<ul class="hide-on-med-and-down">
				<li><a href="../../index.html">Início</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">
						Livro<i class="material-icons right">arrow_drop_down</i>
					</a></li>
			</ul>

		</div>
	</nav>
	<main>
	<form id="form" name="form" novalidate ng-controller="editarLivroController" ng-init="init()" required>
		<div class="container">

			<h4>Editar Livro</h4>
			<div class="row">
				<div class="col s12 input-field">
					<label for="deTitulo">Título</label>
					<input id="deTitulo" type="text" name="deTitulo" ng-model="deTitulo" ng-init="deTitulo = '${livro.deTitulo}'" class="validate"
						ng-minlength="5" ng-maxlength="150" required />
					<div ng-messages="form.deTitulo.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.deTitulo.$error.required && form.$submitted && form.deTitulo.$pristine">Campo
							obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.deTitulo.$error.minlength">Tamanho minímo é de 5 caracteres</div>
						<div ng-message="maxlength" class="error-msg" ng-show="form.deTitulo.$error.maxlength">Tamanho máximo é de 150 caracteres</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s7 input-field">
					<label for="deAutor">Autor:</label>
					<input ng-model="deAutor" type="text" name="deAutor" id="deAutor" ng-init="deAutor = '${livro.deAutor}' " ng-minlength="5"
						ng-maxlength="150" required />
					<div ng-messages="form.deAutor.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.deAutor.$error.required && form.deAutor.$pristine && form.$submitted">Campo
							obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.deAutor.$error.minlength">Tamanho minímo é de 5 caracteres</div>
						<div ng-message="maxlength" class="error-msg" ng-show="form.deAutor.$error.maxlength">Tamanho máximo é de 150 caracteres</div>
					</div>
				</div>
				<div class="col s2 input-field">
					<label for="aaPublicacao">Ano Publicação</label>
					<input id="aaPublicacao" type="text" ng-model="aaPublicacao" name="aaPublicacao" ng-init="aaPublicacao = '1'" class="validate ano"
						ng-minlength="4" required />
					<div ng-messages="form.aaPublicacao.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.aaPublicacao.$error.required && form.$submitted && form.aaPublicacao.$pristine">Campo
							obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.aaPublicacao.$error.minlength">Tamanho minímo é de 4 caracteres</div>
					</div>
				</div>
				<div class="col s3 input-field">
					<label for="deEdicao">Edição</label>
					<input id="deEdicao" type="text" ng-model="deEdicao" ng-init="deEdicao = '${livro.deEdicao}' " ng-maxlength="50" />
					<div ng-messages="form.deEdicao.$error" style="color: maroon" role="alert">
						<div ng-message="maxlength" class="error-msg" ng-show="form.deEdicao.$error.maxlength">Tamanho máximo é de 50 caracteres</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s7 input-field">
					<label for="deEditora">Editora</label>
					<input id="deEditora" type="text" name="deEditora" ng-model="deEditora" ng-init="deEditora = '${livro.deEditora}'" class="validate"
						ng-minlength="5" ng-maxlength="50" required />
					<div ng-messages="form.deEditora.$error" style="color: maroon" role="alert">
						<div ng-message="required" class="error-msg" ng-show="form.deEditora.$error.required && form.deEditora.$pristine && form.$submitted">Campo
							obrigatório</div>
						<div ng-message="minlength" class="error-msg" ng-show="form.deEditora.$error.minlength">Tamanho minímo é de 5 caracteres</div>
						<div ng-message="maxlength" class="error-msg" ng-show="form.deEditora.$error.maxlength">Tamanho máximo é de 50 caracteres</div>
					</div>
				</div>
				<div class="col s5 input-field">
					<input type="checkbox" id="icAtivo" ng-model="icAtivo" ng-init="icAtivo = '${livro.ativo}'" />
					<label for="icAtivo">Ativo</label>
				</div>
			</div>

			<div class="row right-align">
				<a href="../consultar.html" class="btn waves-effect ">Voltar</a>
				<button class="btn waves-effect waves-light blue" type="submit" ng-click="alterarLivro()">Salvar</button>
			</div>
		</div>
		<script type="text/javascript" src="../../resources/js/custom.js"></script
	</form>
	</main>

	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				Desenvolvido por Felipe de Sousa Santos © 2016 - Todos os Direitos Reservados
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/felipesousasantos1993">
					GitHub <img alt="Github" src="../../resources/img/github.png" class="img-social" width="21" height="21" />
				</a>
				<a class="grey-text text-lighten-4 right" target="_blank" href="https://br.linkedin.com/in/felipesousa">
					LinkedIn <img alt="Linkeind" src="../../resources/img/linkedin.png" class="img-social" width="21" height="21" />
				</a>
			</div>
		</div>
	</footer>
</body>
</html>
